{% extends 'cart/base.html' %}
{% load static %}


{% block body %}

<div class="span9">
    <ul class="breadcrumb">
        <li><a href="index.html">Home</a> <span class="divider">/</span></li>
        <li class="active"> SHOPPING CART</li>
    </ul>

    <h3> SHOPPING CART [ <small>{{ cart.products.count }} Item(s) </small>]<a href="products.html"
            class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Continue Shopping </a>
    </h3>
    <hr class="soft" />
    <table class="table table-bordered">
        <tr>
            <th> I AM ALREADY REGISTERED </th>
        </tr>
        <tr>
            <td>
                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="inputUsername">Username</label>
                        <div class="controls">
                            <input type="text" id="inputUsername" placeholder="Username">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword1">Password</label>
                        <div class="controls">
                            <input type="password" id="inputPassword1" placeholder="Password">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn">Sign in</button> OR <a
                                href="register.html" class="btn">Register Now!</a>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <a href="forgetpass.html" style="text-decoration:underline">Forgot
                                password?</a>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
    </table>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Product</th>
                <th>Description</th>
                <th>Quantity/Update</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Tax</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>

            <!-- start for loop -->>
            {% for item in cart.products.all %}
            <tr>
                <td> <img width="60" src="{{ item.thumbnail.url }}" alt="" alt="" /></td>
                <!-- thumbnail -->
                <td>{{ item.name }}<br />{{ item.description }}</td> <!-- name, description -->
                <td>
                    <div class="input-append"><input class="span1" style="max-width:34px"
                            placeholder="1" id="appendedInputButtons" size="16" type="text"><button
                            class="btn" type="button"><i class="icon-minus"></i></button><button
                            class="btn" type="button"><i class="icon-plus"></i></button><button
                            class="btn btn-danger" type="button"><i
                                class="icon-remove icon-white"></i></button> </div>
                </td>
                <td>$ {{ item.price }}.00</td> <!-- price -->
                <td>$ ----</td>
                <td>$ ----</td>
                <td>$ {{ item.price }}.00</td> <!-- price -->
            </tr>
            {% endfor %}

            <!-- end for loop -->>

            <tr>
                <td colspan="6" style="text-align:right">Total Price: </td>
                <td> ${{ cart.total }}</td> <!-- total -->
            </tr>
            <tr>
                <td colspan="6" style="text-align:right">Total Discount: </td>
                <td> $ ----</td>
            </tr>
            <tr>
                <td colspan="6" style="text-align:right">Total Tax: </td>
                <td> $ ----</td>
            </tr>
            <tr>
                <td colspan="6" style="text-align:right"><strong>TOTAL</strong>
                </td>
                <td class="label label-important" style="display:block"> <strong> $
                        {{ cart.total }}
                    </strong>
                </td>
            </tr>
        </tbody>
    </table>


    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label"><strong> VOUCHERS CODE: </strong> </label>
                            <div class="controls">
                                <input type="text" class="input-medium" placeholder="CODE">
                                <button type="submit" class="btn"> ADD </button>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>

        </tbody>
    </table>


    <a href="products.html" class="btn btn-large"><i class="icon-arrow-left"></i> Continue Shopping
    </a>
    <a href="login.html" class="btn btn-large pull-right">Next <i class="icon-arrow-right"></i></a>

</div>

{% endblock body %}